@model List<BlogTestApp.Models.BlogPost>

@{
    ViewBag.Title = "ViewBlogPosts";
}

<h2>ViewBlogPosts</h2>



@foreach (var post in Model)
{
    <p>==============================================================================</p>

    <h2>Date: @post.PostDate</h2>
    <h2>Tags: 
    @*@for (int i = 0; i < post.Tags.Count; i++)
    {
        @post.Tags.ElementAt(i).TagId
    }*@
   </h2>
   <h2>User Id: @post.UserId</h2>

   <h1>Title: @post.PostName</h1>
<p>
    @post.Post
</p>

<p>==============================================================================</p>
}




