@model BaseballLeague.Models.Player
@{
    ViewBag.Title = "DeletePlayer";
}

<h2>Delete Player</h2>

<div class="row">
    <div class="col-xs-12">
        <h3>Delete State</h3>
        @Html.ActionLink("Return to Player List", "ViewPlayerList", "Home")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(p => p.PlayerId)
            <p>Are you sure that you wish to delete the Player: @Html.DisplayFor(p => p.FirstName)  @Html.DisplayFor(p => p.LastName)?</p>
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            @Html.ActionLink("Cancel", "ViewPolicies", "Home", null, new { @class = "btn btn-sm btn-info" })
        }
    </div>
</div>     