@model BaseballLeague.Models.PlayerViewModel
@{
    ViewBag.Title = "TradePlayer";
}

<h2>TradePlayer</h2>

<div class="col-xs-12 col-sm-9">
    <div class="row">
        <div class="col-xs-12">
            <h4>Policy List</h4>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Team Name</th>
                        <th>Position Name</th>
                        <th>Jersey Number</th>
                        <th>Years Played</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>@Model.Player.FirstName</td>
                            <td>@Model.Player.LastName</td>
                            <td>@Model.Player.Team.Name</td>
                            <td>@Model.Player.Position.PositionName</td>
                            <td>@Model.Player.JerseyNumber</td>
                            <td>@Model.Player.YearsPlayed</td>

                            @*<div styleclass="form-group" style="float:left; padding-right:5px;">
                                <label>New Player Team: </label>
                                @Html.DropDownListFor(p => p.Player.Team.TeamId, Model.ListOfTeams)
                            </div>*@
                        </tr>
                    
                </tbody>
            </table>

        </div>

        @using (Html.BeginForm())
        {
            @Html.HiddenFor(p => p.Player.PlayerId)
            @Html.HiddenFor(p => p.Player.Team.Name)

            <div styleclass="form-group" style="float:left; padding-right:5px;">
                <label>New Team: </label>
                @Html.DropDownListFor(p => p.Player.Team.TeamId, Model.ListOfTeams)
            </div>

            <p><button type="submit" class="btn btn-sm btn-primary">Save</button></p>
        }
    </div>
</div>