@model List<DVDLibrary.Models.DVD>

@{
    ViewBag.Title = "ViewDVDList";
}

<h2>ViewDVDList</h2>

<div class="row">
    <div class="col-xs-12">
        @{
            Html.RenderAction("LoadPartial");
        }
    </div>
</div>

@using (Html.BeginForm())
{
    <p>
        Title: @Html.TextBox("searchString") 
        <br /><br />
        <input type="submit" value="Filter" />
    </p>
}

    @foreach (var dvd in Model)
    {

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Director</th>
                    <th>Release Date</th>
                    <th>MPPA Rating</th>
                    <th>Studio</th>
                    <th>User Rating</th>
                    <th>User Notes</th>
                    <th>Actors</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@dvd.Title</td>
                    <td>@dvd.DirectorName</td>
                    <td>@dvd.ReleaseDate.ToShortDateString()</td>
                    <td>@dvd.MPAARating</td>
                    <td>@dvd.Studio</td>
                    <td>@dvd.UserRating</td>
                    <td>@dvd.UserNotes</td>
                    <td>
                        @string.Join(", ", dvd.Actors.ToArray())
                    </td>
                    <td><a href="/Home/ViewDVD?DVDId=@dvd.DVDId">More Information</a></td>
                    <td><a class="DeleteLink" href="/Home/DeleteDVD?DVDId=@dvd.DVDId">Delete</a></td>

                </tr>
            </tbody>
        </table>
    }

            @section Scripts{
                <script>
                    $(function () {

                    });
                </script>

            }
