@model List<DVDLibrary.Models.DVD>

@{
    ViewBag.Title = "ViewDVDList";
}

<h2>ViewDVDList</h2>


<div class="row">
    <div class="col-xs-12">
        @Html.Partial("_CreateDVDModal")
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        @{
            //Html.RenderAction("LoadPartial");
            @Html.Partial("_DVDCount", Model)
        }
    </div>
</div>

@using (Html.BeginForm())
{
    <p>
        Title: @Html.TextBox("searchString") 
        <br /><br />
        <input type="submit" value="Filter" />
    </p>
}

        <table class="table table-bordered table-striped" id="dvdlistdiv">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Director</th>
                    <th>Release Date</th>
                    <th>MPPA Rating</th>
                    <th>Studio</th>
                    <th>User Rating</th>
                    <th>User Notes</th>
                    <th>Actors</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    @foreach (var dvd in Model)
                    {
                        <td>@dvd.Title</td>
                        <td>@dvd.DirectorName</td>
                        <td>@dvd.ReleaseDate.ToShortDateString()</td>
                        <td>@dvd.MPAARating</td>
                        <td>@dvd.Studio</td>
                        <td>@dvd.UserRating</td>
                        <td>@dvd.UserNotes</td>
                        <td>
                            @string.Join(", ", dvd.Actors.ToArray())
                        </td>
                        <td><a href="/Home/ViewDVD?DVDId=@dvd.DVDId">More Information</a></td>
                        <td><a class="DeleteLink" href="/Home/DeleteDVD?DVDId=@dvd.DVDId">Delete</a></td>
                    }
 
                </tr>
            </tbody>
        </table>
    

@section Scripts
{
    <script>
        var uri = '/api/DVD';

        $(function () {
            LoadDVDList();

        });

        function LoadDVDList() {
            $.ajax({
                method: "GET",
                    url: uri
            })

            .done(function (data) { //this receives whatever the ajax call gets
                //clear the table
                $("#dvdlistdiv tbody tr").remove();

                //on success, "data" contains a list of dvds
                $.each(data, function (ViewDVDList, DVD) {
                    //add a table row for the contact
                    $(createRow(DVD)).appendTo($('#dvdlistdiv tbody'));
                });

                $("#dvdCount").text('Current DVD\'s In Library: ' + data.length)
            })
            .fail(function () {
                alert("Something went wrong")
            });
        };

        function createRow(dvd) {
            return '<tr><td>' + dvd.Title + '</td><td>' + dvd.DirectorName + '</td><td>' + dvd.ReleaseDate + '</td><td>' + dvd.MPAARating + '</td><td>'
                + dvd.Studio + '</td><td>' + dvd.UserRating + '</td><td>' + dvd.UserNotes + '</td><td>' + dvd.Actors + '</td>' + '<td><a href="/Home/ViewDVD?DVDId=' + dvd.DVDId + '">More Information</a></td>' + '<td><a class="DeleteLink" href="/Home/DeleteDVD?DVDId=' + dvd.DVDId + '">Delete</a></td></tr>'
            }

    </script>
    <script src="~/Scripts/app/createDVD.js"></script>
}
