@model IEnumerable<HR_Portal.Models.Data.Category>

@{
    ViewBag.Title = "Manage Categories";
}

<div class="col-xs-12 col-sm-9">
    <div class="row">
        <div class="col-xs-12">
            <h4>Categories List</h4>

            <br />
            <div>@Html.ActionLink("Add a Category", "AddCategory", "Home", null, new { @class = "btn btn-primary" })</div>
            <br /> 
            
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Category ID</th>
                        <th>Category Name</th>
                   
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <td>@category.CategoryId</td>
                            <td>@category.CategoryName</td>
                            <td>@Html.ActionLink("Delete", "DeleteCategory", "Home", new { categoryId = category.CategoryId }, null)</td>
                            @*<td><a href="/Home/ViewPolicyItem?policyId=@policy.PolicyId">View</a></td>*@
                        </tr>
                    }
                </tbody>
            </table>
            @Html.ActionLink("Go to Add Policy", "AddPolicy", "Home")
        </div>
    </div>
</div>
